<!-- home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Dark Mode
    </ion-title>
    <ion-toggle color="tertiary" (click)="toggleTheme()"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h1> Lorem, ipsum dolor.</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam eveniet ipsa distinctio necessitatibus
        placeat
        dicta maiores esse, quo illum odit repudiandae minima harum veniam eligendi culpa eius repellendus nisi. Quod.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>